*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#111;
color:white;
}

/* MENU */

.menu{

display:flex;
justify-content:space-between;
align-items:center;

background:#000;

padding:15px 40px;

}

.logo{

color:#ff3c00;

}

.menu ul{

display:flex;
list-style:none;
gap:30px;

}

.menu a{

color:white;
text-decoration:none;
font-size:18px;

}

.menu a i{

margin-right:6px;
color:#ff3c00;

}

/* BANNER */

.banner{

height:400px;

background-image:url("../img/background.png");

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

}

.banner h1{

font-size:42px;

}

.banner p{

margin:10px 0 20px;

}

/* BOTÃO */

.botao{

background:#ff3c00;

padding:15px 30px;

color:white;

text-decoration:none;

border-radius:30px;

font-size:18px;

}

/* SERVIÇOS */

.servicos{

padding:60px 20px;

text-align:center;

}

.cards{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

margin-top:30px;

}

.card{

background:#1c1c1c;

padding:30px;

width:220px;

border-radius:10px;

}

.card i{

font-size:40px;

color:#ff3c00;

margin-bottom:15px;

}

/* RODAPÉ */

footer{

background:#000;

text-align:center;

padding:20px;

margin-top:40px;

}
